/ProjectPlanner.CQRS/.vs/ProjectPlanner.CQRS/DesignTimeBuild/.dtbcache.v2
/ProjectPlanner.CQRS/.vs/ProjectPlanner.CQRS/FileContentIndex/5c43d26a-86bb-47d4-ad55-5564c154e49e.vsidx
/ProjectPlanner.CQRS/.vs/ProjectPlanner.CQRS/FileContentIndex/e6440fd5-2dd3-488d-ba01-6925ccbcb615.vsidx
/ProjectPlanner.CQRS/.vs/ProjectPlanner.CQRS/config/applicationhost.config
/ProjectPlanner.CQRS/.vs/ProjectPlanner.CQRS/v17/.suo
/ProjectPlanner.CQRS/.vs/ProjectPlanner.CQRS/v17/DocumentLayout.json
/ProjectPlanner.CQRS/ProjectPlanner.Api/obj/Debug/net8.0
